@page "/contact"
@implements IDisposable
@using RhzHome01.Client.Components
<div class="rh-masthead">
    <div class="container">
        <div class="row">
            <h1>Contact</h1>
           
        </div>
        <div class="row">
            <div class="col-md-8">
                @if (!Sent)
                {
                <EditForm Model="ContactData" OnValidSubmit="@HandleValidSubmit">
                    <DataAnnotationsValidator />
                    
                    @if (@ButtonIsDisabled)
                    {
                        <div class="form-group row alert alert-danger">@StatusMessage</div>
                    }
                    <div class="form-group form-row mb-3">
                        <InputText class="form-control col-sm-8" id="name" name="Name" @bind-Value=ContactData.Name placeholder="Name" />
                        <ValidationMessage For="@(() => ContactData.Name)"/>
                    </div>

                    <div class="form-group form-row mb-3">
                        <InputText class="form-control col-sm-8" id="email" name="Email" @bind-Value=ContactData.Email placeholder="Email" data-val="true" data-val-required="*" />
                        <ValidationMessage For="@(() => ContactData.Email)"/>
                    </div>

                    <div class="form-group form-row mb-3">
                        <InputText class="form-control col-sm-8" id="subject" name="subject" @bind-Value=ContactData.Subject placeholder="Subject" data-val="true" data-val-required="*" />
                        <ValidationMessage For="@(() => ContactData.Subject)"/>
                    </div>

                    <div class="form-group form-row mb-3">
                        <InputTextArea rows="4" class="form-control col-sm-8" id="comment" name="Comment" @bind-Value=ContactData.Comment placeholder="Comment" data-val="true" data-val-required="*" />
                        <ValidationMessage For="@(() => ContactData.Comment)"/>
                    </div>

                    <button type="submit" disabled="@ButtonIsDisabled" class="btn btn-primary">Send</button>

                </EditForm>
                }
                else
                {
                    <div class="alert @StatusClass">@Message</div>
                }
            </div>
            @if (InterestingLinks == null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
            <div class="col-md-4 rh-sidebar" role="navigation">
                <div class="card card-body bg-light">
                    <LinkList LinkData="InterestingLinks" Title="Interesting Links"></LinkList>
                    <LinkList LinkData="DotNetLinks" Title=".Net Links"></LinkList>
                </div>
            </div>
            }
        </div>
        
    </div>
</div>